*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
    scroll-behavior:smooth;
}

:root{
    --bg:#0f172a;
    --card:#1e293b;
    --text:#f8fafc;
    --accent:#38bdf8;
}

.light-mode{
    --bg:#f4f4f4;
    --card:#ffffff;
    --text:#111827;
    --accent:#2563eb;
}

body{
    background:var(--bg);
    color:var(--text);
    transition:.4s;
}

header{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    position:fixed;
    width:100%;
    top:0;
    backdrop-filter:blur(12px);
    background:rgba(0,0,0,.15);
    z-index:1000;
}

.logo{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;

    background: linear-gradient(
        135deg,
        #ffffff,
        #bfdbfe,
        #60a5fa,
        #2563eb
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow: 0 0 20px rgba(59,130,246,0.25);
}

.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:var(--text);
    transition:.3s;
}

.nav-links a:hover{
    color:var(--accent);
}



#theme-toggle{
    border:none;
    background:var(--accent);
    color:white;
    padding:10px 15px;
    border-radius:50%;
    cursor:pointer;
    font-size:18px;
}
.profile-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--accent);
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
    transition: transform 0.3s ease;
}

.profile-pic:hover{
    transform: scale(1.05);
}
.profile-pic{
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.hero h1{
    font-size:3rem;
    

    background: linear-gradient(
        135deg,
        #ffffff,
        #bfdbfe,
        #60a5fa,
        #2563eb
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow: 0 0 20px rgba(59,130,246,0.25);
}

.hero span{
    color:var(--accent);
}

.hero p{
    text-align:center;
    margin:20px auto;
    max-width:700px;
    line-height:1.6;
   
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
    flex-wrap: wrap;
}
.btn{
    display:inline-block;
    padding:12px 25px;
    background:var(--accent);
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.3s;
    
}

.btn:hover{
    transform:translateY(-3px);
}
.btn-secondary{
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

.btn-secondary:hover{
    background: var(--accent);
    color: white;
}

.chars-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.char{
    background: rgba(15,27,45,0.9);
    padding: 20px;
    border-radius: 15px;
    width: 220px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.08);
    transition: 0.3s;
}

.char:hover{
    transform: translateY(-8px);
    border-color: #3b82f6;
}

.char h3{
    color:#3b82f6;
    margin-left:10px;
}

.char p{
    color:#cbd5e1;
}

section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    margin-bottom:40px;
    color:var(--accent);
    font-size:2rem;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:var(--card);
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.card:hover{
    transform:translateY(-8px);
}

.contact-box{
    background:var(--card);
    max-width:500px;
    margin:auto;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

.contact-box p{
    margin:10px 0;
}

footer{
    text-align:center;
    padding:20px;
    background:var(--card);
}